---
bindings:
-   name: docs
    resource: /doc.json
---
{{ $Docs := $.bindings.docs }}
{{ $Package := (firstByKey $Docs "Name" "main") }}
<br>
<div class="clearfix" id="x-projnav">
	<a href="URL"><strong>project-name:</strong></a>
	<a href="path">github.com/ghetzel/project-name</a>
	<span class="text-muted">/</span>
	<span class="text-muted">{{ $Package.Name }}</span>

	<span class="pull-right">
		<a href="#pkg-index">Index</a>
		<span class="text-muted">|</span>
		<a href="#pkg-files">Files</a>
	</span>
</div>

<h2 id="pkg-overview">package {{ $Package.Name }}</h2>

<p>
	<code>import "{{ $Package.ImportPath }}"</code>
</p>

{{ if $Package.Summary }}
<p>{{ $Package.Summary }}</p>
{{ end }}

<h3 id="pkg-index" class="section-header">
	Index <a class="permalink" href="#pkg-index">&#182;</a>
</h3>

<ul class="list-unstyled">
	{{ if $Package.Constants }}
    <li><a href="#pkg-constants">Constants</a></li>
	{{ end }}
	{{ if $Package.Variables }}
    <li><a href="#pkg-variables">Variables</a></li>
	{{ end }}
	{{ range $Function := $Package.Functions }}
    <li>
		<a href="#{{ $Function.Name }}">{{ $Function.Signature }}</a>
	</li>
	{{ end }}
</ul>

<span id="pkg-examples"></span>

{{ if $Package.Files }}
<h4 id="pkg-files">
	<a href="https://github.com/ghetzel/project-name">Package Files</a>
	<a class="permalink" href="#pkg-files">&#182;</a>
</h4>

<p>
{{ range $File := $Package.Files }}
	<a href="{{ $File.Name }}">{{ $File.Name }}</a>
{{ end }}
</p>
{{ end }}

{{ range $Function := $Package.Functions }}
<h3 id="{{ $Function.Name }}" data-kind="f">
	func <a title="View Source" href="">{{ $Function.Name }}</a>
	<a class="permalink" href="#Auto">&#182;</a>
	<!--<a class="uses" title="List Function Callers" href="https://sourcegraph.com/-/godoc/refs?def=Auto&amp;pkg=github.com%2Fghetzel%2Fgo-stockutil%2Ftypeutil&amp;repo=github.com%2Fghetzel%2Fgo-stockutil">Uses</a>-->
</h3>
{{ end }}