---
bindings:
-   name: Package
    resource: /package.json
    params:
        package: '{{ qs `package` $.page.package }}'
---
{{ $Package := $.bindings.Package }}
<br>
<div class="clearfix" id="x-projnav">
	<a href="URL"><strong>{{ $.bindings.Module.Metadata.Title }}:</strong></a>
	{{ if $Package.ParentPackage }}
	<a href="{{ or $.page.rootpath `/` }}pkg/{{ $Package.ParentPackage }}.html">{{ urlScheme $Package.URL }}://{{ urlHost $Package.URL }}{{ dirname (urlPath $Package.URL) }}/{{ $Package.ParentPackage }}</a><span class="text-muted">/</span><span class="text-muted">{{ $Package.Name }}</span>
	{{ else }}
	<span class="text-muted">{{ $Package.URL }}</span>
	{{ end }}

	<span class="pull-right">
		<a href="#pkg-index">Index</a>
		<span class="text-muted">|</span>
		<a href="#pkg-files">Files</a>
	</span>
</div>

<span class="pull-right">Doc Coverage: {{ percent $Package.Statistics.Mean 1 }}%</span>
<h2 id="pkg-overview">package {{ $Package.Name }}</h2>

<p>
	<code>import "{{ $Package.CanonicalImportPath }}"</code>
</p>

{{ if $Package.Synopsis }}
{{ markdown $Package.Synopsis }}
{{ end }}

<h3 id="pkg-index" class="section-header">
	Index <a class="permalink" href="#pkg-index">&#182;</a>
</h3>

<ul class="list-unstyled">
	<!-- Constant Declarations -->
	{{ if $Package.Constants }}
    <li><a href="#pkg-constants">Constants</a></li>
	{{ end }}

	<!-- Package Variables -->
	{{ if $Package.Variables }}
    <li><a href="#pkg-variables">Variables</a></li>
	{{ end }}

	<!-- Subpackages -->
	{{ if $Package.Packages }}
    <li><a href="#pkg-packages">Packages</a></li>
	{{ end }}

	<!-- Package-level Function Declarations -->
	{{ range $Function := $Package.Functions }}
    <li>
		{{ if $Function.Comment }}<strong>{{ end }}
		<a href="#{{ $Function.Name }}">func {{ $Function.Signature }}</a>
		{{ if $Function.Comment }}</strong>{{ end }}
	</li>
	{{ end }}

	<!-- Type Declarations -->
	{{ range $Type := $Package.Types }}
    <li>
		<a href="#{{ $Type.Name }}">type {{ $Type.Name }}</a>

		<!-- Struct Members -->
		{{ if eqx $Type.MetaType "struct" }}
		<ul>
			{{ range $Method := $Type.Methods }}
			{{   if $Method.IsPackageLevel }}
			<!-- Type Constructor Method -->
			<li>
				{{ if $Method.Comment }}<strong>{{ end }}
				<a href="#{{ $Type.Name }}.{{ $Method.Name }}">
					func {{ $Method.Signature }}
				</a>
				{{ if $Method.Comment }}</strong>{{ end }}
			</li>
			{{   end }}
			{{ end }}

			<!-- Member Methods -->
			{{ range $Method := $Type.Methods }}
			{{   if not $Method.IsPackageLevel }}
			<li>
				{{ if $Method.Comment }}<strong>{{ end }}
				<a href="#{{ $Type.Name }}.{{ $Method.Name }}">
					func
					({{ $Method.ReceiverName }} {{ if $Method.PointerReceiver }}*{{ end }}{{ $Type.Name }})
					{{ $Method.Signature }}
				</a>
				{{ if $Method.Comment }}</strong>{{ end }}
			</li>
			{{   end }}
			{{ end }}
		</ul>
		{{ end }}
	</li>
	{{ end }}
</ul>

{{ if $Package.Examples }}
<h4 id="pkg-examples">
	Examples
	<a class="permalink" href="#pkg-examples">&#182;</a>
</h4>

<ul class="list-unstyled">
	{{ range $Example := $Package.Examples }}
	<li>
		<a
			href="#example-{{ $Example.For }}--{{ $Example.Label }}"
			onclick="
				$('#ex-{{ $Example.For }}--{{ $Example.Label }}')
					.addClass('in')
					.removeClass('collapse')
					.height('auto')
			"
		>
			{{ $Example.For }} ({{ pascalize $Example.Label }})
		</a>
	</li>
	{{ end }}
</ul>
{{ end }}

{{ if $Package.Files }}
<h4 id="pkg-files">
	<a href="{{ $.bindings.Module.Metadata.URL }}">Package Files</a>
	<a class="permalink" href="#pkg-files">&#182;</a>
</h4>

<table class="table table-compact table-hover">
<thead>
	<tr>
		<th class="text-left">Filename</th>
		<th class="text-right">Size</th>
		<th class="text-right"><abbr title="Source Lines Of Code">SLOC</abbr></th>
		<th class="text-right"><code>func</code></th>
		<th class="text-right"><code>type</code></th>
		<th class="text-right"><code>const</code></th>
		<th class="text-right"><code>var</code></th>
	</tr>
</thead>
<tbody>
	{{ range $File := $Package.Files }}
	<tr>
		<td class="text-left">
			{{ if $File.MainFunction }}
			<b><a href="{{ $File.Name }}">{{ $File.Name }}</a></b>
			{{ else }}
			<a href="{{ $File.Name }}">{{ $File.Name }}</a>
			{{ end }}
		</td>
		<td class="text-right">{{ autobyte $File.Size "%.0f" }}</td>
		<td class="text-right">{{ or $File.SourceLineCount `` }} lines</td>
		<td class="text-right">{{ or $File.FunctionCount `` }}</td>
		<td class="text-right">{{ or $File.TypeCount `` }}</td>
		<td class="text-right">{{ or $File.ConstantCount `` }}</td>
		<td class="text-right">{{ or $File.VariableCount `` }}</td>
	</tr>
	{{ end }}
</tbody>
</table>
{{ end }}

{{ if $Package.Constants }}
<!-- Constants -->
<h3 id="pkg-constants">
	Constants
	<a class="permalink" href="#pkg-constants">&#182;</a>
</h3>
<div class="decl" data-kind="v">
	<a title="View Source" href="">&#10070;</a>
{{ $padTo := len (longestString (pluck $Package.Constants "Name")) }}
	<pre>
{{ range $Constant := $Package.Constants -}}
const <span id="{{ $Constant.Name }}">{{ printf (printf "%%- %ds" $padTo) $Constant.Name }}</span> = {{ $Constant.Expression }}
{{ end -}}
	</pre>
</div>
{{ end }}

{{ if $Package.Variables }}
<!-- Variables -->
<h3 id="pkg-variables">
	Variables
	<a class="permalink" href="#pkg-variables">&#182;</a>
</h3>
<div class="decl" data-kind="v">
	<a title="View Source" href="">&#10070;</a>
{{ $padTo := len (longestString (pluck $Package.Variables "Name")) }}
	<pre>
{{ range $Variable := $Package.Variables -}}
var <span id="{{ $Variable.Name }}">{{ printf (printf "%%- %ds" $padTo) $Variable.Name }}</span> = {{ $Variable.Expression }}
{{ end -}}
	</pre>
</div>
{{ end }}

{{ if $Package.Functions }}
<!-- Package-level Function Declarations -->
{{ range $Function := $Package.Functions }}
<h3 id="{{ $Function.Name }}" data-kind="f">
	func <a title="View Source" href="">{{ $Function.Name }}</a>
	<a class="permalink" href="#{{ $Function.Name }}">&#182;</a>
</h3>
<div class="funcdecl decl">
	<a title="View Source" href="">&#10070;</a>
	<pre>func {{ $Function.Signature }}</pre>
</div>

{{   if $Function.Comment }}
<p>{{ markdown (replace $Function.Comment "\n" "<br>" -1) }}</p>
{{   end }}
{{ end }}

<!-- Type Declarations -->
{{ range $Type := $Package.Types }}
<h3 id="{{ $Type.Name }}" data-kind="t">
	type
	<a title="View Source" href="">{{ $Type.Name }}</a>
	<a class="permalink" href="#{{ $Type.Name }}">&#182;</a>
</h3>

<div class="decl" data-kind="d">
	<a title="View Source" href="">&#182;</a>
	{{ $src := chr2str (unbase64 $Type.Source "padded") }}
	{{ if $Type.HasUnexportedFields }}
	{{   $src = rxreplace $src `\n}\s*$` "  // contains filtered or unexported fields\n}" }}
	{{ end }}
	<pre>{{ $src }}</pre>
</div>

<!-- Type Constructor Method -->
{{ 	 range $Method := $Type.Methods }}
{{     if $Method.IsPackageLevel }}
<h4 id="{{ $Method.Name }}" data-kind="f">
	func <a title="View Source" href="">{{ $Method.Name }}</a>
	<a class="permalink" href="#{{ $Method.Name }}">&#182;</a>
</h4>

<div class="funcdecl decl">
	<a title="View Source" href="">&#10070;</a>
	<pre>func {{ $Method.Signature }}</pre>
</div>
{{       if $Method.Comment }}
<p>{{ markdown (replace $Method.Comment "\n" "<br>" -1) }}</p>
{{       end }}
{{     end }}
{{   end }}

<!-- Member Methods -->
{{ 	 range $Method := $Type.Methods }}
{{     if not $Method.IsPackageLevel }}
<h4 id="{{ $Type.Name }}.{{ $Method.Name }}" data-kind="f">
	func
	({{ $Method.ReceiverName }} {{ if $Method.PointerReceiver }}*{{ end }}{{ $Type.Name }})
	<a title="View Source" href="">{{ $Method.Name }}</a>
	<a class="permalink" href="#{{ $Method.Name }}">&#182;</a>
</h4>

<div class="funcdecl decl">
	<a title="View Source" href="">&#10070;</a>
	<pre>func ({{ $Method.ReceiverName }} {{ if $Method.PointerReceiver }}*{{ end }}{{ $Type.Name }}) {{ $Method.Signature }}</pre>
</div>
{{       if $Method.Comment }}
<p>{{ markdown (replace $Method.Comment "\n" "<br>" -1) }}</p>
{{       end }}
{{     end }}
{{   end }}
{{ end }}

{{ end }}

{{ if $Package.Packages }}
<!-- Subpackages -->
<h3 id="pkg-packages">
	Packages
	<a class="permalink" href="#pkg-packages">&#182;</a>
</h3>

<table class="table table-compact table-hover">
<thead>
	<tr>
		<th class="text-left">Package</th>
		<th class="text-left">Synopsis</th>
	</tr>
</thead>
<tbody>
	{{ range $Package := $Package.Packages }}
	<tr>
		<td class="text-left">
			<a href="{{ or $.page.rootpath `/` }}pkg/{{ $Package.ImportPath }}.html">{{ $Package.Name }}</a>
		</td>
		<td class="text-left">
			{{ $Package.Synopsis }}
		</td>
	</tr>
	{{ end }}
</tbody>
</table>
{{ end }}